In [1]:
import beta_glu
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

/Users/ryanjang123/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/Users/ryanjang123/opt/anaconda3/lib/python3.9/site-packages/Bio/SubsMat/__init__.py:126: BiopythonDeprecationWarning: Bio.SubsMat has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.substitution_matrices as a replacement, and contact the Biopython developers if you still need the Bio.SubsMat module.
  warnings.warn(

In [2]:
import pandas as pd
import numpy as np

import pandascharm as pc
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import OneHotEncoder
from Bio import SeqIO
from Bio.SeqUtils.ProtParam import ProteinAnalysis
import blosum as bl
from Bio.SubsMat.MatrixInfo import blosum62 as blosum
from Bio import AlignIO
from Bio import SeqIO
from Bio.Align.Applications import MuscleCommandline
from Bio.Align import AlignInfo

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.cross_decomposition import PLSRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Lasso
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_excel('../beta-glucosidase/data/KcatKm w_ Temperatures.xlsx')

In [4]:
df

,Organism Name Actual,Organism Name,Temperature Optimum,Reaction Temperature,Percentage Activity Depending on Optimum Temp,pNP-Glc Km (mM),pnp-glc Vmax,pnp-glcVmax units,pNP-Glc kcat (1/s),pNP-Glc kcat/Km (1/smM),...,Cellobiose kcat (1/s),Cellobiose kcat/Km (1/smM),pNP-Glc Type of Inhibition,pNP-Glc IC50 (mM),MW (kDa),PDB Code,Sequence,Kinetics Reference,Sequence Reference,Additional Kinetics Reference
0,AcidothermusCellulolyticus,E1,70.0,70.0,1.00,0.37,95.0,umol/min,26.64,72.000000,...,NaN,NaN,NaN,NaN,54.0,NaN,MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...,https://doi.org/10.1007/s40242-018-7408-7,https://www.ncbi.nlm.nih.gov/protein/ABK51908.1/,NaN
1,AcidothermusCellulolyticus,E2,70.0,30.0,0.10,NaN,NaN,NaN,NaN,7.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...,https://doi.org/10.1007/s40242-018-7408-7,https://www.ncbi.nlm.nih.gov/protein/ABK51908.1/,NaN
2,AcidothermusCellulolyticus,E3,70.0,40.0,0.20,NaN,NaN,NaN,NaN,14.400000,...,NaN,NaN,NaN,NaN,NaN,NaN,MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...,https://doi.org/10.1007/s40242-018-7408-7,https://www.ncbi.nlm.nih.gov/protein/ABK51908.1/,NaN
3,AcidothermusCellulolyticus,E4,70.0,50.0,0.30,NaN,NaN,NaN,NaN,21.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...,https://doi.org/10.1007/s40242-018-7408-7,https://www.ncbi.nlm.nih.gov/protein/ABK51908.1/,NaN
4,AcidothermusCellulolyticus,E5,70.0,60.0,0.60,NaN,NaN,NaN,NaN,43.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...,https://doi.org/10.1007/s40242-018-7408-7,https://www.ncbi.nlm.nih.gov/protein/ABK51908.1/,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,WeissellaCibaria,E605,45.0,35.0,0.71,NaN,NaN,NaN,NaN,5.382995,...,NaN,NaN,NaN,NaN,NaN,NaN,MALRGKEFLWGASIANYQTDGAENTQWHEWELANADRLASDYDMAF...,NaN,NaN,NaN
601,WeissellaCibaria,E606,45.0,40.0,0.93,NaN,NaN,NaN,NaN,7.050965,...,NaN,NaN,NaN,NaN,NaN,NaN,MALRGKEFLWGASIANYQTDGAENTQWHEWELANADRLASDYDMAF...,NaN,NaN,NaN
602,WeissellaCibaria,E607,45.0,50.0,0.82,NaN,NaN,NaN,NaN,6.216980,...,NaN,NaN,NaN,NaN,NaN,NaN,MALRGKEFLWGASIANYQTDGAENTQWHEWELANADRLASDYDMAF...,NaN,NaN,NaN
603,WeissellaCibaria,E608,45.0,55.0,0.39,NaN,NaN,NaN,NaN,2.956856,...,NaN,NaN,NaN,NaN,NaN,NaN,MALRGKEFLWGASIANYQTDGAENTQWHEWELANADRLASDYDMAF...,NaN,NaN,NaN
604,WeissellaCibaria,E609,45.0,60.0,0.25,NaN,NaN,NaN,NaN,1.895421,...,NaN,NaN,NaN,NaN,NaN,NaN,MALRGKEFLWGASIANYQTDGAENTQWHEWELANADRLASDYDMAF...,NaN,NaN,NaN

In [5]:
output = 'pNP-Glc kcat/Km (1/smM)'
encoding = 'One-Hot-Encoder'
aln = '../beta-glucosidase/data/seqs.aln'

In [6]:
check = beta_glu.ml_process(encoding, output, df, aln, key = None)

In [7]:
X,y = beta_glu.encode(encoding,output,df, aln)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [8]:
a,b = beta_glu.XGBR(X_train,y_train, X_test)

In [9]:
b

array([ 51.109756  ,  78.9714    ,  24.212532  ,  78.9714    ,
       339.81183   ,  78.9714    , 339.81183   ,  14.420506  ,
        78.9714    , 220.63933   ,  71.00497   ,  78.9714    ,
        31.172935  ,  -0.60140705,  78.9714    ,  -1.8299928 ,
         4.6546946 , 186.5667    ,  78.9714    , 199.52022   ,
        78.9714    , 339.81183   ,  78.9714    ,   3.0284004 ,
        85.46479   , 388.35913   ,  65.36444   , 339.81183   ,
        78.9714    ,  14.420506  , 469.82703   , 299.18405   ,
        78.9714    ,  78.9714    ,  99.15186   , 280.22537   ,
       280.22537   ,  78.9714    , 124.76599   ,  78.9714    ,
        13.707228  , 299.18405   ,  13.476635  ,  13.476635  ,
       199.52022   ,  78.9714    ,  65.93916   ,  13.476635  ,
        78.9714    ,  65.36444   ,  44.059303  ,  78.9714    ,
       129.97263   ,  44.059303  ,  64.73579   ,  99.15186   ,
       415.0822    ,  -0.60140705,  31.172935  ,  78.9714    ,
        -2.8017688 ,  42.63291   ,  70.94345   ,  78.9714    ,
       408.3089    ,  -1.8299928 ,   3.0284004 ,  24.212532  ,
        78.9714    ,  44.059303  ,  13.476635  ,  78.9714    ,
         3.0284004 ,  71.00497   ,   3.0284004 ,  42.63291   ,
       415.0822    ,  39.73496   , 186.5667    , 415.0822    ,
        78.9714    , 124.76599   ,  78.9714    ,  78.9714    ,
       280.22537   , 220.63933   , 388.35913   ,  51.109756  ,
       151.75755   , 388.35913   ,  -0.60140705,  44.059303  ,
        31.172935  ,  65.93916   , 299.18405   ,  22.727951  ,
         4.6546946 ,  70.94345   , 124.76599   , 415.0822    ,
       408.3089    , 186.5667    ,   3.0284004 ,  85.46479   ,
       403.94168   ,  78.9714    ,  15.5937195 ,  14.420506  ,
        13.707228  ,  78.9714    ,  65.93916   ,  64.73579   ,
       322.31717   ,  78.9714    ,  78.9714    ,  24.212532  ,
        78.9714    ,  65.93916   , 299.18405   ,  78.9714    ,
        15.5937195 ,  78.9714    ,   4.6546946 ,  78.9714    ,
        78.9714    , 124.76599   ,  14.7701    ,  78.9714    ,
        78.9714    ,  51.109756  , 151.75755   ,  65.36444   ,
        -2.8017688 ,  24.212532  ,  70.94345   ,  78.9714    ,
        78.9714    ,  78.9714    ,  51.109756  ,  24.212532  ,
        13.476635  ,  70.94345   ,  65.93916   ,  13.707228  ,
        14.420506  ,   4.6546946 ,  12.30888   ,  13.707228  ,
        85.46479   , 129.97263   , 156.7909    ,  99.15186   ,
        78.9714    ,  78.9714    ,  78.9714    ,  14.420506  ,
        14.7701    , 151.75755   , 408.3089    ,   3.0284004 ,
       552.2725    ,  42.63291   ,  78.9714    , 129.97263   ,
        64.73579   ,   4.6546946 , 408.3089    ,  78.9714    ,
        78.9714    , 124.76599   ,  -0.60140705,  71.00497   ,
        71.00497   ,  71.00497   ,  24.699612  ,  -2.8017688 ,
        57.58507   , 322.31717   , 388.35913   ,  39.73496   ,
         3.0284004 ,  14.7701    ,  14.7701    , 299.18405   ,
        78.9714    , 146.7621    ,  24.212532  , 151.75755   ,
       151.75755   , 151.75755   ,  78.9714    ,  78.9714    ,
       552.2725    , 151.75755   ,  39.73496   ,  24.212532  ,
        13.476635  ,  71.00497   ,  24.699612  , 280.22537   ,
       129.97263   , 469.82703   ,  22.727951  ,  78.9714    ,
        14.420506  ,  -1.8299928 , 199.52022   , 339.81183   ,
        78.9714    , 403.94168   , 299.18405   ,  78.9714    ,
       388.35913   , 156.7909    ,  65.93916   ,  70.94345   ,
       322.31717   ,  -1.8299928 ,   3.0284004 , 129.97263   ,
       199.52022   ,  12.30888   , 146.7621    ,  14.7701    ,
        78.9714    ,  14.420506  , 199.52022   , 403.94168   ,
        -1.8299928 ,  51.109756  ,  22.727951  ,  13.707228  ,
       186.5667    ,  51.109756  ,  44.059303  ,  70.94345   ,
        39.73496   , 124.76599   ,  42.63291   , 322.31717   ,
        78.9714    ,  78.9714    ,  78.9714    ,  14.420506  ,
        -2.8017688 , 146.7621    ,  39.73496   , 151.75755   ,
       408.3089    ,  78.9714    ,  78.9714    , 469.82703   ,
        57.58507   ,  57.58507   , 199.52022   , 156.7909    ,
       146.7621    ,  22.727951  , 129.97263   ,   3.0284004 ,
        78.9714    ,  14.420506  , 151.75755   ,  78.9714    ,
         3.0284004 ,  -1.8299928 ,  44.059303  ,  31.172935  ,
        78.9714    ,  78.9714    ,  78.9714    ,  13.476635  ,
       388.35913   ,  78.9714    , 146.7621    ,  13.707228  ,
       220.63933   ,  12.30888   ,  78.9714    ,  65.36444   ,
         4.6546946 ,  78.9714    ,  44.059303  ,  51.109756  ,
        65.93916   ,  15.5937195 ,   3.0284004 ,  78.9714    ,
        70.94345   ,  24.212532  ,  -1.8299928 ,  78.9714    ,
        13.476635  ,  14.420506  ,  12.30888   ,  57.58507   ,
        24.699612  ,  78.9714    ,  -0.60140705,  99.15186   ,
        45.784206  ,  31.172935  , 552.2725    , 339.81183   ,
        78.9714    ,  24.212532  , 124.76599   ,  13.707228  ,
        78.9714    ,  78.9714    , 469.82703   , 408.3089    ,
        78.9714    ,  78.9714    , 146.7621    ,  -2.8017688 ,
       552.2725    ,  15.5937195 ,  78.9714    ,  78.9714    ,
        78.9714    ,  78.9714    ,   3.0284004 , 299.18405   ,
        -1.8299928 , 146.7621    , 552.2725    , 388.35913   ,
        44.059303  ,  65.36444   ,  78.9714    ,  78.9714    ,
       199.52022   ,  85.46479   ,  -0.60140705,  24.699612  ,
        78.9714    ,  45.784206  ,  99.15186   , 280.22537   ,
        39.73496   ,  99.15186   ,  78.9714    ,  78.9714    ,
       186.5667    , 322.31717   ,  78.9714    ,  64.73579   ,
       299.18405   ,  24.699612  , 280.22537   ,  78.9714    ,
       322.31717   ,   4.6546946 , 403.94168   ,  78.9714    ,
        78.9714    , 552.2725    ,  78.9714    ,  24.212532  ,
        -2.8017688 ,  78.9714    ,  78.9714    ,  22.727951  ,
        78.9714    ,  13.707228  ,  78.9714    ,  78.9714    ,
        78.9714    , 220.63933   ,  15.5937195 , 339.81183   ,
        57.58507   ,  15.5937195 ,  65.93916   ,  13.707228  ,
        -0.60140705,  12.30888   , 469.82703   ,  78.9714    ,
        57.58507   ,  78.9714    ,  24.699612  ,  -0.60140705,
        -1.8299928 ,  78.9714    ,  14.420506  ,  78.9714    ,
         3.0284004 ,  14.7701    ,  13.707228  ,  71.00497   ,
       299.18405   ,  45.784206  ,  78.9714    ,  51.109756  ,
       129.97263   , 403.94168   , 415.0822    ,  12.30888   ,
        78.9714    ,  44.059303  ], dtype=float32)

In [10]:
output = 'pNP-Glc kcat/Km (1/smM)'
encoding = 'Bag-of-Words'
aln = '../beta-glucosidase/data/KcatKm w_ Temperatures.aln'

In [11]:
X,y = beta_glu.encode_temp(encoding, output, df, aln, key = None)

In [12]:
X

array([[53.,  3., 37., ..., 14., 22., 70.],
       [53.,  3., 37., ..., 14., 22., 30.],
       [53.,  3., 37., ..., 14., 22., 40.],
       ...,
       [38.,  0., 35., ..., 18., 23., 50.],
       [38.,  0., 35., ..., 18., 23., 55.],
       [38.,  0., 35., ..., 18., 23., 60.]])

In [13]:
ClustalAlign = AlignIO.read(aln, 'clustal')
summary_align = AlignInfo.SummaryInfo(ClustalAlign )

dframe = pc.from_bioalignment(ClustalAlign)
dframe = dframe.replace('U', '-')
dframe = dframe.replace('O','-')

In [14]:
dframe

,E42,E43,E44,E45,E46,E47,E48,E49,E50,E76,...,E106,E104,E103,E102,E101,E100,E220,E116,E119,E584
0,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1307,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1308,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1309,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1310,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [15]:
holder = np.nan
temp1=dframe.transpose()
temp2 = df[['Organism Name',output]]
temp3 =removeoutlier_col(temp2,output).set_index('Organism Name')
Z=pd.concat([temp1, temp3], axis=1).dropna()

NameError: name 'removeoutlier_col' is not defined

In [ ]:
holder = np.nan
temperature = 'Reaction Temperature'
temp1=dframe.transpose()
temp2 = df[['Organism Name',temperature,output]]
temp3 =removeoutlier_col(temp2,output).set_index('Organism Name')
Z=pd.concat([temp1, temp3], axis=1).dropna()

In [ ]:
X=Z.loc[:, Z.columns != output ]

In [ ]:
temp_col = X.loc[:, X.columns == temperature ]

In [ ]:
X = X.loc[:, X.columns != temperature ]

In [ ]:
n = len(X)
enc_seq = np.zeros((n,n))

i = 0

for a in list(X.index):
    j = 0
    for b in list(X.index):
#         enc_seq[i,j] = sum(score_pairwise(X.loc[a], X.loc[b], blosum, -5, -1))
        enc_seq[i,j] = sum(beta_glu.score_pairwise(X.loc[a], X.loc[b], blosum, -5, -1))
        j += 1
    i += 1

X = enc_seq

In [ ]:
X

In [ ]:
temp_col = np.array(temp_col).reshape(-1,1)

In [ ]:
temp_col

In [ ]:
X = np.concatenate((X,temp_col), axis =1)

In [ ]:
encoding = 'BLOSUM62'

In [ ]:
X, y = beta_glu.encode_temp(encoding, output, df, aln, key = None)

In [16]:
X

array([[53.,  3., 37., ..., 14., 22., 70.],
       [53.,  3., 37., ..., 14., 22., 30.],
       [53.,  3., 37., ..., 14., 22., 40.],
       ...,
       [38.,  0., 35., ..., 18., 23., 50.],
       [38.,  0., 35., ..., 18., 23., 55.],
       [38.,  0., 35., ..., 18., 23., 60.]])

In [17]:
y

0      72.000000
1       7.200000
2      14.400000
3      21.600000
4      43.200000
         ...
600     5.382995
601     7.050965
602     6.216980
603     2.956856
604     1.895421
Name: pNP-Glc kcat/Km (1/smM), Length: 503, dtype: float64