In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from Bio import SeqIO
from Bio.SeqUtils.ProtParam import ProteinAnalysis

In [2]:
df = pd.read_excel('Machine Learning Data.xlsx')

In [3]:
amino_seq = df['Sequence'].dropna()

In [4]:
amino_seq

0      MNLPADFLFGAATSAYQIEGAPAADGRLPSIWDDFCRVPGAIAGGD...
1      MTAHETQAQIREPATAPFPQDFRWGAATSAYQIEGAVAEDGRGRSI...
2      MTQIEERDQVESRPTLRFPDRFVWGVATSAYQIEGAVAEDGRGPSI...
3      MTDHKALAARFPGDFLFGVATASFQIEGATKVDGRKPSIWDAFCNM...
4      MTDHKALAARFPGDFLFGVATASFQIEGATKVDGRKPSIWDAFCNM...
                             ...
189    MSENTFIFPATFMWGTSTSSYQIEGGTDEGGRTPSIWDTFCQIPGK...
190    MSENTFIFPATFMWGTSTSSYQIEGGTDEGGRTPSIWDTFCQIPGK...
191    MSENTFIFPATFMWGTSTSSYQIEGGTDEGGRTPSIWDTFCQIPGK...
192    MSENTFIFPATFMWGTSTSSYQIEGGTDEGGRTPSIWDTFCQIPGK...
193    MSENTFIFPATFMWGTSTSSYQIEGGTDEGGRTPSIWDTFCQIPGK...
Name: Sequence, Length: 161, dtype: object

In [5]:
one_hot = OneHotEncoder()
seq = np.array(amino_seq).reshape(-1,1)

In [6]:
encoded = one_hot.fit(seq)
encoded.transform(seq).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [7]:
encoded.transform(seq).toarray().sum()

161.0

In [13]:
encoded.categories_[0][0]

' MSNPFPDDFLWGCATAAYQIEGSPLADGAGASIWQRFSHDPRLMAAKGDTGDVACDHYNRMADDVALMKRLGLKAYRFSVAWGRVLPDGIGQVNEAGLGFYERLVDTLLANGIEPLCTLYHWDLPAALDDRGGWLNRDSADWFADYGRVLFERLDGRVTKWVTLNEPWVVTDGGYLHGALAPGHRNVFEAPIASRNLMRAHGAAVKAYREIGKHEIGLVVNLEPKYPASDSPEDQAATARAAAYMNRQYLDPAIHGTNPAELADIFGDAWVDWSAEDLALAEQPIDFVGVNYYTRNVTKADDSFPVRAGMVVQPQATYTTTGWEVFGQGLTDVLLWVKDKYGDPAIYITENGAAFYDPPAASQGRVEDPLRAAYLREHITAVGKAIEQGARIKGYMLWSLFDNLEWSLGYSKRFGIVHVNFETQERTFKDSAKLYSEVIATNGACLG'

In [9]:
# Counting the amino acid occurence method
amino_occ = pd.DataFrame([ProteinAnalysis(i).count_amino_acids() for i in amino_seq])

In [10]:
amino_occ

,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,68,3,40,19,12,40,16,17,3,38,4,10,29,11,37,16,16,34,13,18
1,63,4,41,26,16,47,13,16,4,45,7,9,28,12,43,18,21,28,14,21
2,53,3,37,20,19,43,15,22,4,39,5,17,28,16,34,21,27,39,14,22
3,53,6,35,28,22,41,18,16,19,34,15,16,23,7,23,19,17,32,13,22
4,53,5,35,28,22,41,18,16,19,34,15,16,23,7,23,19,17,33,13,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,27,6,23,41,26,43,20,35,17,33,15,17,18,17,19,18,25,15,16,17
157,26,6,24,40,26,43,20,35,17,33,15,18,18,17,19,18,25,15,16,17
158,27,6,23,41,26,43,20,35,16,33,15,18,18,17,19,18,25,15,16,17
159,27,6,23,41,25,43,20,35,17,33,15,18,18,17,19,18,25,15,16,17
160,26,6,23,40,26,43,20,35,17,33,15,18,18,17,19,19,25,15,16,17